  <!DOCTYPE html>
  <head>
  <meta charset="UTF-8">
  <title>Proto Space</title>
   <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
   <link rel="stylesheet" th:href="@{/css/userDetail.css}">
   <link rel="stylesheet" th:href="@{/css/layout.css}">
</head>

<body>
  <!-- ヘッダー -->
  <header class="header" th:insert="~{header :: header}"></header>

  <!-- ユーザー情報表示 -->
 <div class="main">
  <div class="user-detail-title" th:text="${proto.user.name} + 'さんの情報'"></div>

  <dl div class="info-list">
      <dt>名前</dt>
      <dd th:text="${proto.user.name}"></dd>
      <dt>プロフィール</dt>
      <dd th:text="${proto.user.profile}"></dd>
      <dt>所属</dt>
      <dd th:text="${proto.user.affiliation}"></dd>
      <dt>役職</dt>
      <dd th:text="${proto.user.position}"></dd>
  </dl>

  

  <!-- プロトタイプ表示 -->

   <div class="show-prototype">
      <div th:each="proto : ${prototypes}" class="prototype">

       <div class="user-detail-title" th:text="${proto.user.name} + 'さんのプロトタイプ'"></div>

        <div class="card-img" th:if="${proto.image}">
         <img th:src="${proto.image}" alt="画像の説明">
        </div>

 <!-- プロトタイプの詳細 -->
    <div class="card-body">
        <div class="card-name">
           <a th:href="@{プロトタイプ詳細機能}" th:text="${proto.name}"></a>
          </div>

          <div class="card-catchCopy" th:text="${proto.catchcopy}">
          </div>

         <div class="card-username">
           <a th:href="@{ユーザー詳細画面}" th:text="'by ' + ${proto.user.name}"></a>
         </div>
        </div>
      </div>
   </div>
 </div>


    <!-- フッター -->
 <div class="footer" th:insert="~{footer :: footer}" ></div>
  
</body>
</html>