* {
  box-sizing: border-box;
}

/* ヘッダー */
.header{
  height: 100px;
  width: 100vw;
  background-color: #f0fbff;
  margin-bottom: 30px;
}

.header__bar{
display: flex;
justify-content: space-between;
 padding: 10px 20px;
 align-items: center;
height: 100px;
}

.header-left{
align-items: center;
}

.sub-title{
margin: 0;
}

.title{
margin: 0;
}

.header-right{
align-items: center;
display: flex;

}

.New-Proto{
text-decoration: none;
color: lightblue;
 border: 1px solid lightblue;
  padding: 8px 16px;
  display: inline-block;
  border-radius: 5px;
  transition: 0.3s;
  margin-left: 20px;

}

.btn button {
  background: none;
  border: none;
  color: lightblue;
  cursor: pointer;
  padding: 0;
  font: inherit;
  margin-left: 20px;
}

.login-link{
color: lightblue;
text-decoration: none;
margin-left: 20px;
}

.signup-link{
color: lightblue;
text-decoration: none;
margin-left: 20px;
}

/* フッター */
.footer{
  height: 30px;
  width: 100vw;
  background-color: darkgray;
   display: flex;
   align-items: center;
   justify-content: center;
}

.footer p{
  color: #ffffff;
  font-size: 10px;
}