<!DOCTYPE html>>
<head>
  <meta charset="UTF-8">
  <title>Proto Space</title>
   <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
   <link rel="stylesheet" th:href="@{../static/css/akira.css}">
   <link rel="stylesheet" th:href="@{../static/css/header.css}">
</head>

<body>
  <!-- ヘッダー仮置き -->
  <header class="header" th:insert="~{header :: header}"></header>

<!--  プロトタイプ詳細 上-->
   <div class="main">
    <div class="proto-detail-name">
      <div class="proto-detail-username">
        <div class="proto-detail-btn">
          <a class="proto_btn" href="#">編集する</a>
          <a class="proto_btn" data-method="delete" href="#">削除する</a>
        </div>

 <!-- プロトタイプ画像 -->
       <div class="card-img">
         <img th:src="${proto.image}" alt="画像の説明">
        </div>

<!--  プロトタイプ詳細　下-->
<div class="proto-body">

</div>
      </div>
    </div>
   
     <!--  プロトタイプ概要  -->
        <div class="card-body">
          <div class="card-name">
           <a th:href="@{プロトタイプ詳細機能}" th:text="${proto.name}"></a>
          </div>

          <div class="card-summary" th:text="${proto.catchcopy}">
          </div>

         <div class="card-username">
           <a th:href="@{ユーザー詳細画面}" th:text="'by ' + ${proto.user.name}"></a>
         </div>
        </div>
      </div>
    </div>


    <!-- フッター - -->
  <div class="footer" th:insert="~{footer :: footer}" ></div>
  
</body>